<input type="text" [(ngModel)]="userName">

<p>
    {{userName}}
</p>

<button
    [disabled]="!userName"
    class="btn btn-primary"
    (click)="onClick()">
    reset
</button>

<hr>

<button
    class="btn btn-primary" (click)="onToggleDisplay()">
    show details
</button>

@if(showDetails){
    <p>Secret Password = tuna</p>
}
<!-- how to apply ngstyle/class form the 5th log ? -->
@for(log of logs;track log){   
   @if(logs.length >=5){
    <p [ngClass]="classStyle" [ngStyle]="blueStyle">{{"button clicked"+ log}}</p>
   }@else {
    {{log}}
   }
  
}